@model IEnumerable<AuctionApp.Models.Auctions.AuctionVm>

@{
    ViewData["Title"] = "All Won Auctions";
}

<h1>All Won Auctions</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<a href="@Url.Action("CreateAuction", "Auctions")" class="cool-button">Create New</a>

<div>
    <table class="table">
        <thead>
        <tr>
            <th>Auction Item</th>
            <th>Item Description</th>
            <th style="width: 15%;">Starting Price</th> <!-- Adjust width here -->
            <th style="width: 15%;">Auction Owner</th> <!-- Adjust width here -->
            <th style="width: 15%;">Auction Ended At</th> <!-- Adjust width here -->
        </tr>
        </thead>
        <tbody>
        @if (!Model.Any())
        {
        <tr>
            <td colspan="5" class="text-center">No auctions available.</td>
        </tr>
        }
        else
        {
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td style="width: 10%;">@item.StartingPrice.ToString("C")</td> <!-- Format as currency -->
            <td>@item.UserName</td>
            <td style="width: 15%;">@item.EndDate.ToString("g")</td> <!-- General date format -->
        </tr>
        }
        }
        </tbody>
    </table>
</div>


<head>
    <style>
        .cool-button {
            color: #fff;
            background-color: #b30000;
            border: 2px solid #b30000;
            padding: 10px 20px;
            border-radius: 10px;
            font-size: 16px;
            font-weight: bold;
            transition: background-color 0.3s ease, transform 0.3s ease;
            display: inline-block;
            cursor: pointer;
            text-decoration: none;
        }

        .cool-button:hover {
            color: #fff;
            background-color: #5a0303;
            transform: scale(1.02);
        }

        .table {
            width: 100%; /* Full-width table */
            table-layout: fixed; /* Optional: This can be used to evenly distribute the columns */
            border-collapse: collapse; /* Merge borders */
            padding: 15px; /* Add padding for better spacing */
            text-align: left; /* Align text to the left */
            border-bottom: 1px solid #c8c8c8; /* Add a bottom border */
            background-color: #ffffff; /* Light gray background for headers */
            color: #333; /* Dark text for headers */
            font-weight: bold; /* Make headers bold */
        }
    </style>
</head>
